.titulo-centro-grande{
	font-size: xx-large;
    text-align: center;
    color: #FFF;
    background-color: #30a5ff;
}

.alinhar-centro{
	text-align: center;
}

.alinhar-esquerda{
	text-align: left;
}

.alinhar-direita{
	text-align: right;
}

.minha-row{
	padding: 5px; 
}

.tabela{
	font-family: Arial;
	font-size: 18px;
}

.cabecalhoTabela{
	color: #FFF;
    background-color: #30a5ff;
    text-align: center;
}

.colunaTabelaEsquerda{
	font-size: 15px;
	max-width: 75%;
}

.colunaTabelaDireita{
	text-align: center;
	max-width: 25%;
}

.form-messages{
	padding-left: 20px;
}


.form-messages .error{
	color: #e81f1f;
}

.form-messages .info{
	color: #156b2a;
}